.header {
    position: relative;
}

.header .header-img {
    position: relative;
}

.header .header-img img {
    display: block;
    width: 100%;
    height: auto;
}

.header .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
}

.header .content .heading {
    border: 1px dotted #0071ff;
}

.header .content .heading h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.header .content .sub-heading p {
    color: #ffffff80;
    font-size: 1.3rem;
}

.header .content .sub-heading p span {
    color: #ffff;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .header .header-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header .content {
        position: static;
        transform: none;
        padding: 20px 0;
    }

    .header .heading,
    .header .sub-heading,
    .header .gradient-btn {
        text-align: center;
        width: 100%;
    }

    .header .content .heading h1 {
        font-size: 2rem;
    }

    .header .content .sub-heading p {
        font-size: 1rem;
        width: 80%;
        margin: auto;
        margin-bottom: 16px;
    }
}