.main .design h1 {
    font-weight: 600;
    font-size: 4rem;
}

.main .design .top {
    color: #ffffff80;
}

.main .design .bottom {
    color: #ffffff;
}

.main .design .content .card {
    background: linear-gradient(180deg, #ffffff0f 0%, #ffffff00 100%);
    border: 1px solid #ffffff1a;
    color: #ffffff;
}

.main .design .content .card .icon {
    position: relative;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
    padding: 26px;
}

.main .design .content .card .icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 12px;
    padding: 2px;
    background: linear-gradient(90deg, #ff0055, #f94cff);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}


@media (max-width: 767px) {
    .main .design .heading {
        text-align: center;
    }

    .main .design h1 {
        font-size: 2.3rem;
    }
}

.ai .heading h1 {
    font-size: 5.5rem;
    font-weight: 600;
    color: #2c2c2c;
    letter-spacing: -8px;
}

.ai .heading h1 span {
    color: #ffffff;
}

.ai .sub-heading p {
    color: #ffffff80;
    width: 70%;
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: auto;
}

.ai .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.ai .content .circles {
    position: absolute;
    z-index: -1;
}

.ai .content .outer-circle {
    width: 300px;
    height: 300px;
    border: 1px dotted rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: breathe 4s infinite;
}

.ai .content .inner-circle {
    width: 170px;
    height: 170px;
    border: 1px dotted rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: breathe 4s infinite;
}

@keyframes breathe {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.ai .centered-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    z-index: 1;
}

.ai .centered-content input {
    border: 1px solid #373737;
    background-color: #111111;
    padding: 18px;
    padding-left: 110px;
    padding-right: 65px;
    height: 110px;
    width: 620px;
    border-radius: 60px;
    color: #ffffff;
    font-size: 1.6rem;
}

.ai .input-cont {
    position: relative;
}

.ai .input-cont img {
    height: 110px;
    position: absolute;
}

.ai .input-cont i {
    position: absolute;
    top: 26%;
    right: 5%;
}

.ai .centered-content .bottom {
    background-color: #2c2c2c;
    display: inline-block;
    color: #ffffff80;
    padding: 4px 20px;
    border-radius: 18px;
    margin-top: 16px;
}

@media (max-width: 767px) {
    .ai .heading h1 {
        font-size: 2.5rem;
        letter-spacing: 0px;
    }

    .ai .sub-heading p {
        width: 100%;
        font-size: 1rem;
    }

    .ai .centered-content input {
        padding-left: 50px;
        padding-right: 35px;
        height: 50px;
        width: 300px;
        font-size: 1rem;
    }

    .ai .input-cont img {
        height: 50px;
    }

    .ai .input-cont i {
        right: 8%;
        top: 20%;
    }

    .ai .centered-content .bottom {
        padding: 4px 16px;
        font-size: 13px;
    }
}

.stars .left .top img {
    width: 55px;
    margin-right: 16px;
}

.stars .left .top h4 {
    margin-top: 12px;
    background: linear-gradient(90deg, #ff0055, #f94cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stars .left .center h1 {
    font-size: 4rem;
    width: 80%;
    font-weight: 700;
}

.stars .left .bottom img {
    width: 50px;
    height: 50px;
}

.stars .left .img-cont {
    margin-right: 28px;
    border-radius: 50%;
    border: 1px solid #ffffff1a;
}

.stars .left .prompt {
    border: 1px solid #ffffff1a;
    height: auto;
    border-radius: 32px;
}

.stars .left .bottom .prompt h4 {
    padding: 12px 38px;
    font-size: 20px;
    margin: auto;
}

.stars .right .card {
    background: linear-gradient(180deg, #ffffff0f 0%, #ffffff00 100%);
    border: 1px solid #ffffff1a;
    color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.stars .card.top {
    margin-bottom: 5rem;
}

.stars .right .img-cont {
    position: relative;
}

.stars .card .top {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: -15%;
}

.stars .card .top-img {
    margin-top: -70px;
}

.stars .right .star {
    padding: 36px;
    display: inline-block;
    background: #373737;
    border-radius: 50%;
    border: 1px solid #ffffff1a;
    position: relative;
}

.stars .right .bottom p {
    margin-top: 24px;
    color: #ffffff80;
    letter-spacing: .8px;
}

@media (max-width: 1024px) {
    .stars .left .top img {
        width: 40px;
    }

    .stars .left .top h4 {
        font-size: 1rem;
    }

    .stars .left .center h1 {
        width: 100%;
        font-size: 2rem;
    }

    .stars .left .bottom .prompt h4 {
        font-size: 14px;
        padding: 16px 18px;
    }

    .stars .left .img-cont {
        margin-right: 16px;
    }

    .stars .card .top {
        top: -10%;
    }

    .stars .right .star {
        padding: 22px;
    }
}

.contact .top h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.contact .top h1 span {
    background: linear-gradient(90deg, #ff0055, #f94cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact .top p {
    color: #ffffff80;
    font-size: 1.5rem;
    width: 70%;
    margin: auto;
}

.contact .bottom button {
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 32px;
}

@media (max-width: 767px) {
    .contact .top h1 {
        font-size: 2.5rem;
    }

    .contact .top p {
        width: 100%;
        font-size: 1rem;
    }

    .contact .bottom button {
        padding: 10px 20px;
        font-size: 1rem;
    }
}

.slider .card {
    background: linear-gradient(180deg, #ffffff0f 0%, #ffffff00 100%);
    border: 1px solid #ffffff1a;
    color: #ffffff;
}

.slider .card .top p {
    background: linear-gradient(90deg, #ff0055, #f94cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
}

.slider .card .bottom p {
    font-size: 1rem;
}

.slider .badge {
    background-color: #140e23;
    color: #6c49e4;
}

.slider .card img {
    height: 60px;
    width: 60px;
    margin-right: 18px;
    border-radius: 50%;
}

.slider .top h1 {
    font-size: 4rem;
    font-weight: 600;
}

.slider .top h4 {
    color: #ffffff80;
    font-weight: 300;
}

.slider .top h4 span {
    color: #ffffff;
}

.early .glow-container {
    position: relative;
}

.early .glow-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background: linear-gradient(90deg, rgba(255, 0, 85, 0.2), rgba(249, 76, 255, 0.2));
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: breathe 3s ease-in-out infinite;
    filter: blur(20px);
    z-index: -1;
    opacity: 0.2;
}

@keyframes breathe {

    0%,
    100% {
        opacity: 0.2;
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        opacity: 0.4;
        transform: translate(-50%, -50%) scale(1.2);
    }
}

.early .top h1 {
    font-size: 8rem;
    font-weight: 600;
}

.early .top h4 {
    color: #ffffff80;
}

.early .top h4 span {
    color: #ffffff;
}

.early .bottom .input-cont {
    padding: 4px;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ffffff1a;
    transition: 0.5s ease-in-out;
    border-radius: 42px;
}

.early .bottom .input-cont:hover {
    scale: 1.1;
    transition: 0.5s ease-in-out;
}

.early .bottom .input-cont .img-cont {
    border-radius: 50%;
    border: 1px solid #ffffff1a;
    margin-right: 10px;
}

.early .bottom .input-cont .img-cont img {
    width: 50px;
}

.early .input-cont input {
    flex: 1 1 auto;
    background: transparent;
    border: 1px solid #ffffff4d;
    margin-right: 10px;
    height: 44px;
    font-size: 20px;
    color: #ffffff;
    padding: 12px;
    transition: 0.3s ease-in-out;
    border-radius: 32px;
}

.early .input-cont input:hover {
    background: #ffffff1a;
    transition: 0.3s ease-in-out;
}

.early .bottom .input-cont button {
    margin-right: 10px;
}

.early .bottom p {
    color: #ffffff80;
    font-size: 14px;
    margin-top: 24px;
}

.early .bottom p span {
    font-weight: 700;
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .early .top h1 {
        font-size: 4rem;
    }

    .early .top h4 {
        font-size: 1rem;
    }

    .early .bottom .input-cont {
        border-radius: 32px;
    }

    .early .bottom .input-cont .img-cont img {
        width: 40px;
    }

    .early .input-cont input {
        font-size: 16px;
        height: 40px;

    }

    .early .bottom p {
        font-size: 12px;
    }

    .slider .card img {
        height: 100px;
        width: 100px;
        margin-right: 12px;
        border-radius: 50%;
    }

    .slider .top h1 {
        font-size: 2.5rem;
        font-weight: 600;
    }
}

@media (max-width: 768px) {
    .early .input-cont input {
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
    }

    .early .input-cont button {
        width: 100%;
    }

    .early .bottom .input-cont .img-cont {
        display: none;
    }

    .early .bottom .input-cont {
        display: block;
        border-radius: 32px;
        padding: 18px;
    }
}

.footer .top img {
    width: 150px;
    margin-bottom: 2rem;
}

.footer .top a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.footer .content {
    color: #ffffff80;
}

.faq .top h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.faq .top p {
    font-size: 1.5rem;
    color: #ffffff80;
}

.faq .bottom button {
    background-color: #ffffff1a;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    border: 1px solid #ffffff1a !important;
    border-radius: 8px !important;
}

.faq .bottom .accordion-body {
    color: #ffffffc8;
}

.pricing .top h1 {
    font-size: 4.5rem;
    font-weight: 600;
    background: linear-gradient(90deg, #ff0055, #f94cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pricing .top p {
    color: #ffffff80;
    font-size: 1.5rem;
}

.pricing .bottom .button-group button {
    margin: 0;
    border-radius: none !important;
    background-color: transparent;
    border: 1px solid #ffffff1a;
    padding: 12px 24px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 32px;
}

.pricing .bottom .button-group button:hover {
    background-color: #ffffff1a;
}

.pricing .bottom .button-group button.active {
    background-color: #ffffff1a;
}

.pricing .bottom .card {
    background: transparent;
    color: #fff;
    border: 1px solid #ffffff1a;
    padding: 2rem;
}

.pricing .bottom .card.grad h4 {
    background: linear-gradient(90deg, #ff0055, #f94cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pricing .bottom .card.grad {
    position: relative;
    border-radius: 32px;
    overflow: hidden;
}

.pricing .bottom .card.grad::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 32px;
    padding: 1px;
    background: linear-gradient(90deg, #ff0055, #f94cff);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.pricing .bottom .card .price p {
    font-size: 2.5rem;
}

.pricing .bottom .card .price p span {
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    .pricing .top h1 {
        font-size: 2.5rem;
    }

    .pricing .top p {
        font-size: 1rem;
    }

    .pricing .bottom .button-group button {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .pricing .bottom .card .price p {
        font-size: 2rem;
    }

    .pricing .bottom .card .price p span {
        font-size: 1rem;
    }
}