.anc-bar {
    background: linear-gradient(90deg, #ff0055, #f94cff);
    position: fixed;
    z-index: 6;
}

.navbar {
    margin-top: 38px;
}

.navbar .buttons {
    background: #1a1a1a;
    border: 1px solid #ffffff1a;
    padding: 6px;
    border-radius: 32px;
}

.navbar .buttons .nav-link {
    padding: 8px 16px;
}

.navbar .navbar-brand img {
    width: 68px;
}