* {
    font-style: normal;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #000000;
    color: #ffffff;
}

button,
a.gradient-btn,
a.wait-btn {
    display: inline-block;
    position: relative;
    padding: 8px 16px;
    border-radius: 21px;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

button i,
a.gradient-btn i,
a.wait-btn i {
    margin-left: 6px;
    transition: transform 0.15s ease-in-out;
    transform: rotate(-45deg);
}

.gradient-btn {
    background: #2c2c2c;
    border: 1px solid #ffffff1a;
    color: #ffffff80;
}

.gradient-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ff0055, #f94cff);
    transition: left 0.15s ease-in-out;
    z-index: 0;
}

.gradient-btn:hover::before {
    left: 0;
}

.gradient-btn:hover {
    color: #ffffff;
}

.gradient-btn span {
    position: relative;
    z-index: 2;
}

.wait-btn {
    background: #ffffff;
    color: #000000;
    border: none;
}

.wait-btn span {
    position: relative;
    z-index: 1;
}

.gradient-btn i,
.wait-btn i {
    transition: transform 0.15s ease-in-out;
}

.gradient-btn:hover i,
.wait-btn:hover i {
    transform: rotate(0deg);
}

.glowing-hr-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glowing-hr {
    border: 0;
    height: 1px;
    width: 80%;
    margin: 0;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.2) 80%);
    box-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 60px rgba(255, 255, 255, 0.9), 0 0 90px rgba(255, 255, 255, 0.8), 0 0 120px rgba(255, 255, 255, 0.7), 0 0 150px rgba(255, 255, 255, 0.6);
    position: relative;
}

.glowing-hr::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 8px;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.2) 80%);
    filter: blur(20px);
    z-index: -1;
}

.glow-border {
    position: relative;
    padding: 20px;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f0f0f0;
}

.glow-border::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    transition: background 2s ease-in-out;
}

.hr-side {
    width: 30%;
    padding-top: 36px;
}

@media (max-width: 767px) {
    .hr-side {
        width: 80%;
        margin: auto;
        padding-top: 16px;
        padding-bottom: 1px;
    }
}